<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.cn.dao.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.cms.cn.model.entity.SysMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_menu_id" jdbcType="INTEGER" property="parentMenuId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
    <result column="menu_type" jdbcType="VARCHAR" property="menuType" />
    <result column="useable" jdbcType="INTEGER" property="useable" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_menu_id, menu_id, menu_name, sort, href, icon, is_show, menu_type, useable, 
    create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>

  <select id="getAllMenuByRoleId" parameterType="com.cms.cn.model.Request.MenusRequest" resultType="com.cms.cn.model.Response.MenusResponse">
    select
    sm.parent_menu_id parentMenuId,
    sm.menu_id menuId,
    sm.menu_name menuName,
    sm.permission permission,
    sm.sort sort,
    sm.href href,
    sm.icon icon,
    sm.is_show isShow,
    sm.menu_type menuType,
    sm.useable useable,
    sm.create_by createBy,
    sm.create_date createDate,
    sm.update_by updateBy,
    sm.update_date updateDate,
    sm.remarks remarks,
    sm.del_flag delFlag
    from sys_menu sm
    left join sys_role_menu srm
    on sm.menu_id = srm.menu_id
    left join sys_user su
    on srm.role_id = su.role_id
    where 1=1
    <if test="roleId != null and roleId != ''">
      and su.role_id = #{roleId}
    </if>
    <if test="userName != null and userName != ''">
      and su.login_name = #{userName}
    </if>
  </select>
</mapper>