<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.cn.dao.SysMenuMapper">

  <select id="getAllMenuByRoleId" parameterType="com.cms.cn.model.request.MenusRequest" resultType="com.cms.cn.model.response.MenusResponse">
    select
    sm.parent_id parentMenuId,
    sm.id menuId,
    sm.name menuName,
    sm.perms permission,
    sm.sort sort,
    sm.url href,
    sm.icon icon,
    sm.is_show isShow,
    sm.type menuType,
    sm.useable useable,
    sm.create_by createBy,
    sm.create_time createDate,
    sm.last_update_by updateBy,
    sm.last_update_time updateDate,
    sm.remarks remarks,
    sm.del_flag delFlag
    from sys_menu sm
    LEFT JOIN sys_role_menu srm
    ON sm.id = srm.menu_id
    LEFT JOIN sys_user_role sur
    ON srm.role_id = sur.role_id
    LEFT JOIN sys_user su
    ON sur.user_id = su.id
    where 1=1 and sm.parent_id = 0
    and sur.role_id = #{roleId}
    and su.name = #{userName}
  </select>

  <select id="getAllMenuByParentId" parameterType="com.cms.cn.model.request.MenusRequest" resultType="com.cms.cn.model.response.MenusResponse">
    select
    sm.parent_id parentMenuId,
    sm.id menuId,
    sm.name menuName,
    sm.perms permission,
    sm.sort sort,
    sm.url href,
    sm.icon icon,
    sm.is_show isShow,
    sm.type menuType,
    sm.useable useable,
    sm.create_by createBy,
    sm.create_time createDate,
    sm.last_update_by updateBy,
    sm.last_update_time updateDate,
    sm.remarks remarks,
    sm.del_flag delFlag
    from sys_menu sm
    where 1=1
    <if test="parentMenuId != null and parentMenuId != ''">
      and sm.parent_id = #{parentMenuId}
    </if>
    <if test="type != null and type != ''">
      and sm.type = #{type}
    </if>
  </select>

  <insert id="addMenu" parameterType="com.cms.cn.model.request.MenuRequest">
    insert into sys_menu(
      name, parent_id, usr, perms, is_show, sort, type, icon,
      order_num, create_by, create_time, last_update_by,
      last_update_time, remarks, del_flag
    )values (
      #{name},
      #{parent_id},
      #{usr},
      #{perms},
      #{is_show},
      #{sort},
      #{type},
      #{icon},
      #{order_num},
      #{create_by},
      now(),
      #{last_update_by},
      now(),
      #{remarks},
      #{del_flag}
    )
  </insert>
</mapper>