<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.cn.dao.SysRoleMapper">

  <select id="selectRole" parameterType="com.cms.cn.model.request.RoleRequest" resultType="com.cms.cn.model.response.RoleResponse">
    select 
    id id, name name, remark remark, create_by create_by, create_time create_time,
    last_update_by last_update_by, last_update_time last_update_time,del_flag del_flag
    from sys_role
    where 1=1 and del_flag = 0
    <if test="roleId != null and roleId != ''">
      and id = #{roleId}
    </if>
  </select>

  <select id="queryPerByRoleId" parameterType="com.cms.cn.model.request.RoleRequest" resultType="com.cms.cn.model.response.PerResponse">
    SELECT DISTINCT sm.perms perms FROM sys_role_menu srm
    LEFT JOIN sys_menu sm
    ON srm.menu_id = sm.id
    WHERE srm.role_id = #{roleId} and srm.del_flag = 0 and sm.del_flag = 0
  </select>

  <select id="queryMenuByRoleId" parameterType="com.cms.cn.model.request.RoleRequest" resultType="com.cms.cn.model.response.MenusResponse">
    select
    sm.parent_id parentMenuId,
    sm.id menuId,
    sm.name menuName,
    sm.perms permission,
    sm.sort sort,
    sm.url href,
    sm.icon icon,
    sm.is_show isShow,
    sm.type menuType,
    sm.useable useable,
    sm.create_by createBy,
    sm.create_time createDate,
    sm.last_update_by updateBy,
    sm.last_update_time updateDate,
    sm.remarks remarks,
    sm.del_flag delFlag
    from sys_role_menu srm
    left join sys_menu sm
    on srm.menu_id = sm.id
    where 1=1 and sm.del_flag = 0 and srm.del_flag = 0
    <if test="roleId != null and roleId != ''">
      and srm.role_id = #{roleId}
    </if>
  </select>

  <insert id="addRole" parameterType="com.cms.cn.model.request.RoleRequest">
    insert into sys_role(name, remark, create_by, create_time, last_update_by, last_update_time)
    values (#{name},#{remark},#{create_by},now(),#{last_update_by},now())
  </insert>

  <update id="updateRole" parameterType="com.cms.cn.model.request.RoleRequest">
    update sys_role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>