<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.cn.dao.SysRoleMapper">

  <select id="selectRole" parameterType="com.cms.cn.model.Request.RoleRequest" resultType="com.cms.cn.model.Response.RoleResponse">
    select 
    id id, name name, remark remark, create_by create_by, create_time create_time,
    last_update_by last_update_by, last_update_time last_update_time,del_flag del_flag
    from sys_role
    where 1=1
    <if test="roleId != null and roleId != ''">
      and role_id = #{roleId}
    </if>
  </select>

  <select id="queryPerByRoleId" parameterType="com.cms.cn.model.Request.RoleRequest" resultType="com.cms.cn.model.Response.PerResponse">
    SELECT DISTINCT sm.perms perms FROM sys_role_menu srm
    LEFT JOIN sys_menu sm
    ON srm.menu_id = sm.id
    WHERE srm.role_id = #{roleId}
  </select>
</mapper>