<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.cn.dao.SysUserMapper">
  <sql id="Base_Column_List">
    id, name, password, salt, email, mobile,
    status, dept_id, create_by, create_time, last_update_by, last_update_time, del_flag
  </sql>
  <select id="selectUser" parameterType="com.cms.cn.model.entity.SysUser" resultType="com.cms.cn.model.response.UserResponse">
    select
    su.id id,
    su.NAME name,
    su.PASSWORD password,
    su.salt salt,
    su.email email,
    su.mobile mobile,
    su.STATUS STATUS,
    su.dept_id dept_id,
    su.create_by create_by,
    su.create_time create_time,
    su.last_update_by last_update_by,
    su.last_update_time last_update_time,
    su.del_flag del_flag,
    sur.role_id role_id
    from sys_user su
    left join sys_user_role sur
    on su.id = sur.user_id
    where 1=1 and sur.del_flag = 0
    <if test="name != null and name != ''">
      and name = #{name}
    </if>
    <if test="password != null and password != ''">
      and password = #{password}
    </if>
    <if test="mobile != null and mobile != ''">
      and mobile = #{mobile}
    </if>
  </select>

  <select id="findList" parameterType="com.cms.cn.model.request.UserRequest" resultType="com.cms.cn.model.response.UserResponse">
    SELECT
	su.id id,
	su.`name` name,
	su.email email,
	su.mobile mobile,
	su.`status` `status`,
	su.dept_id dept_id,
	sd.name dept_name
    FROM
        sys_user su
    LEFT JOIN sys_dept sd
    ON su.dept_id = sd.id
    where su.del_flag = 0
    <if test="name != null and name != ''">
      and su.name like concat('%', #{name}, '%')
    </if>
    <if test="mobile != null and mobile != ''">
      and su.mobile = mobile
    </if>
    order by su.create_time desc
  </select>

  <update id="batchUpdateUserById" parameterType="java.util.List">
    update sys_user set del_flag = 1
    where id in (
      <foreach collection="list" index="index" item="list" separator=",">
        #{list.id}
      </foreach>
    )
  </update>

  <insert id="addUser" parameterType="com.cms.cn.model.request.UserRequest">
    insert into sys_user (name, password, salt, email, mobile, dept_id, create_by, create_time, last_update_by, last_update_time)
    values (#{name}, #{password}, #{salt}, #{email}, #{mobile}, #{dept_id}, #{create_by}, now(), last_update_by, now())
  </insert>
  
  <update id="updateUserById" parameterType="com.cms.cn.model.request.UserRequest">
    update sys_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="mobile != null">
        mobile = #{mobile},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="dept_id != null">
        dept_id = #{dept_id},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>