<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.cn.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.cms.cn.model.entity.SysUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="certificates_no" jdbcType="VARCHAR" property="certificatesNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_date" jdbcType="TIMESTAMP" property="loginDate" />
    <result column="login_channel" jdbcType="INTEGER" property="loginChannel" />
    <result column="login_flag" jdbcType="INTEGER" property="loginFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, login_name, password, role_id, certificates_no, name, email, phone, 
    photo, login_ip, login_date, login_channel, login_flag, create_by, create_date, update_by, 
    update_date, remarks, del_flag
  </sql>
  <select id="selectUser" parameterType="com.cms.cn.model.entity.SysUser" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where 1=1
    <if test="loginName != null and loginName != ''">
      and login_name = #{loginName}
    </if>
    <if test="password != null and password != ''">
      and password = #{password}
    </if>
    <if test="phone != null and phone != ''">
      and phone = #{phone}
    </if>
  </select>

  <select id="findList" parameterType="com.cms.cn.model.Request.UserRequest" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_user
  </select>

</mapper>